.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  z-index: 1;
}

.profileImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
@media only screen and (max-width: 565px) {
  .profileImg {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 472px) {
  .profileImg {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 379px) {
  .profileImg {
    width: 60px;
    height: 60px;
  }
}

.contactButton {
  margin-top: 10px;
  background-color: rgb(10, 10, 10);
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 5px;
  z-index: 1;
}

@media only screen and (max-width: 510px) {
  .contactButton {
    margin-top: 10px;
    background-color: rgb(10, 10, 10);
    border: none;
    padding: 4px 8px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 5px;
  }
}
